

    @import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100&display=swap');
    
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
    
    
}
 /*header start*/
 #header{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 10px 80px;
   position: sticky;
   top: 0;
   left: 0;
   z-index: 999;
   background-color: #E3E6F3;
   box-shadow: 1px 4px rgb(0, 0, 0 ,0.06);
   color: white;
 }
 .logo{
   max-width:15rem;
   background: transparent;
 }

 #navbar{
   display: flex;
   align-items: center;
   justify-content: space-between;
}
 #navbar li{
   list-style: none;
   padding: 0px 20px;
   position: relative;

 }
 #navbar li a{
   text-decoration: none;
   font-size: 16px;
   font-weight: 300;
   color: #1a1a1a;
   transition: 0.03s ease;
   font-size: 20px;
}
 #navbar li a:hover,
 #navbar li a.active{
   color: #088178;
 }
 #navbar li a img{
  max-width: 30px;
 }

 #navbar li a.active::after, #navbar li a:hover::after{
   content: " ";
   width: 30px;
   height: 2px;
   position: absolute;
   background: #088178;
   bottom: -4px;
   left: 20px;
 }
 .dropdown-content {
   display: none;
   position: absolute;
   top: 100%;
   left: 0;
   z-index: 1;
 }

.dropdown-content li {
   display: block;
   padding: 8px 12px; /* Add some padding to the dropdown items */
}

li.dropdown:hover .dropdown-content {
   display: block;
}

.dropdown-content a{
   text-decoration: none;
}
.login{
   border: 1px solid black;
   width: 100%;
   background-color: #E3E6F3;
   padding: 4px;
   border-radius: 8px;
}
.signup{
   border: 1px solid black;
   width: 100%;
   padding: 4px;
   margin-top: 4px;
   background-color: #E3E6F3;
   border-radius: 8px;
}
.login:hover{
   background-color: #fff;
}
.signup:hover{
   background-color: #fff;
}

.dropdown-content a{
   text-decoration: none;
}

 /*cointainer part*/
 #container{
    background-image:url(image/back1.jpg.jpg) ;
   height: 100vh;
   width : 100%;
   background-size: cover;
   background-position: top 25% right 0;
   padding: 0 80px;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: center;
   
 }
 h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}
h6{
    font-weight: 700;
    font-size: 20px;

 }
  .form-box-login {
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 2px;
    backdrop-filter: blur(20px);
    text-align: center;
    position: absolute;
    left: 400px;
    right: 0px;

  }
  .input-box{
    padding-top: 20px;
    
  }
  input[type="email"],
  input[type="password"]{
    height: 30px;
    width: 150x;
    background: transparent;
    font-size: 20px;
    font-weight: 500;
    border-radius: 4px;
  }
  .remember{
    padding-top: 20px;
    font-size: 15px;
  }
  .forgot{
    padding-top: 10px;
    font-size: 20px;
    padding-bottom: 10px;

  }
  .btn1 {
       width: 60%;
       height: 6vh;
       text-align: center;
       cursor: pointer;
       font-weight: 600;
       background-color: honeydew;
       font-size: 20px;
        margin-bottom: 20px; 
     }

     .btn2{
        width: 60%;
        height: 6vh;
        text-align: center;
        cursor: pointer;
        font-weight: 600;
        background-color: honeydew;
        font-size: 20px;
     }
     .login-register{
        padding-top: 20px;
     }
     
footer {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   position: relative;
   background-color: rgb(220, 220, 220);
   color: #000;
   height: 380px;
}
footer .col img{
   background: transparent;
   object-fit: cover;
   height: auto;
   max-width: 200pxpx;
   margin-bottom: 30px;
}
 
footer .col p{
   color: #1a1a1a;
   font-weight: 600;
   
}

footer .icons img{
   max-width: 30px;
   cursor: pointer;
}
footer .icons img:hover{
   background-color: #E3E6F3;
}

.col h4{
   padding: 10px 0px;
   margin-top: 2px;
   color: #222;

}
 
.col a{
   text-decoration: none;
   display: list-item;
   list-style: none;
   padding: 10px 0px;
   color: #222;
   font-weight: 600;
}
.copyright{
   position: absolute;
   top: 80%;
   left: 30%;
   font-weight: 800;
}
    